# Virtual environment
venv/
.venv/
env/
myenv/

# Python cache
__pycache__/
*.py[cod]

# Uploaded files
uploads/*
!uploads/.gitkeep

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db